<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--建工程扩展点-->
 <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="nc.uap.lfw.internal.core.LFWClasspathInitializer"
            id="nc.uap.lfw.library.container"/>
   </extension>

    
    <extension
         id="nc.uap.lfw.ModuleProjectNature"
         name="%lfw.nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="nc.uap.lfw.internal.project.WEBProject"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <builder id="nc.uap.lfw.tools.project.LFWModuleBuilder"/> 
    </extension>
   
    <extension
         id="nc.uap.lfw.tools.project.LFWModuleBuilder"
         name="LFWModuleBuilder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="nc.uap.lfw.internal.project.ModuleBuilder"/>
      </builder>
   </extension>
   
 

  <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%new.wizard.category"
            id="nc.uap.lfw.newWizards"/>
      <wizard
            category="nc.uap.lfw.newWizards"
            class="nc.uap.lfw.wizards.NewWebModuleProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/project.gif"
            id="nc.uap.lfw.wizards.NewWebModuleProjectWizard"
            name="%new.wizard.project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true"/>
   </extension>
   
     
   <extension
            point="org.eclipse.core.variables.valueVariables">
         <variable
               description="The NC_HOME location"
               initialValue="c:\nc_home"
               name="FIELD_NC_HOME"/>
         <variable
               description="exclude modules"
               initialValue="testbill"
               name="FIELD_EX_MODULES"/>
         <variable
               description="The CLIENT_IPAdreess"
               initialValue="127.0.0.1"
               name="FIELD_CLINET_IP">
         </variable>
         <variable
               description="The CLIENT_Port"
               initialValue="80"
               name="FIELD_CLINET_PORT">
         </variable>
      </extension>
      
      
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="nc.uap.lfw.MDEToolSet">
         <menu
               label="%menu.group.LFWTools"
               id="nc.uap.lfw.MDETools">
            <separator name="group0"/>
         </menu>
         <filter
               value="nc.uap.lfw.ModuleProjectNature"
               name="projectNature"/>
         <action
               class="nc.uap.lfw.ui.action.UpdateLFWClasspathAction"
               id="nc.uap.lfw.UpdateClassPathAction"
               label="%lfwupdateClasspathAction.label"
               menubarPath="nc.uap.lfw.MDETools/group0"/>
         <action
               class="nc.uap.lfw.ui.action.SyncWebFilesAction"
               enablesFor="1"
               id="nc.uap.lfw.SyncWebFilesAction"
               label="Sync LFW Web Files"
               menubarPath="nc.uap.lfw.MDETools/group0">
         </action>
       	</objectContribution>
    </extension>
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="nc.uap.lfw.internal.core.LFWClasspathInitializer"
            id="nc.uap.lfw.library.container"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="nc.uap.lfw.launcher.LFWLaunchDelegate"
            id="nc.uap.lfw.launch"
            migrationDelegate="org.eclipse.jdt.internal.launching.JavaMigrationDelegate"
            modes="run, debug"
            name="%launcher.configName"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"/>

   </extension>
   
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/start_server.gif"
            configTypeID="nc.uap.lfw.launch"
            id="nc.uap.lfw.launchServerImage"/>
   </extension>
   
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="nc.uap.lfw.core.WebConfigurationTabGroup"
            id="nc.uap.lfw.launchConfigurationTabGroup"
            type="nc.uap.lfw.launch">
      </launchConfigurationTabGroup>
   </extension>
 
</plugin>
